.link-card{
  border: 1px solid #0B1F3333;
  padding: 20px;
  height: 100%;
  .content{
    display: flex;
    flex-direction: column;
    .title{
      margin-bottom: 16px;
      h4{
        opacity: 0.9;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
      }
    }
    .footer{
      margin-top: auto;
      .link{
        @include flex;
        justify-content: space-between;
        a{
          color: #15368B;
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
        }
        .svg{
          height: 24px;
          width: 24px;
          overflow: hidden;
        }
      }
    }
  }
}