.news-card{
  background: #15368B;
  .img{
    width: 1060px;
    height: 520px;
    img{
      @include imageCover;
    }
  }
  .content{
    display: flex;
    flex-direction: column;
    padding: 24px;
    .title{
      margin-bottom: 16px;
      h3{
        color: white;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
      }
    }
    .statistics{
      @include flex;
      .info{
        @include flex;
        margin-right: 40px;
        opacity: 0.7;
        .svg{
          margin-right: 8px;
          width: 22px;
          height: 22px;
          svg{
            @include svgColor(#fff)
          }
        }
        span{
          color: white;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}