.publication-card{
  border: 1px solid #FFFFFF33;
  background: #FFFFFF0D;
  backdrop-filter: blur(20px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .content{
    header{
      margin-bottom: 0;
      padding: 24px;
      border-bottom: 1px solid #FFFFFF33;
    }
    main{
      padding: 24px;
      .info{
        h3{
          color: white  ;
          font-size: 22px;
          font-weight: 600;
          line-height: 33px;
        }
        p{
          color: white;
          opacity: 0.8;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
        }
      }
    }
  }
}