.research-card{
  transition: all .25s ease-in-out;
  padding: 24px;
  background: #fff;
  .content{
    @include flex;
    .svg{
      height: 100px;
      max-width: 100px;
      flex: 0 0 100px;
      margin-right: 24px;
      svg{
        transition: all .25s ease-in-out;
        @include svgColor(#15368B)
      }
    }
    .info{
      display: flex;
      flex-direction: column;
      height: 100%;
      .title{
        h3{
          font-size: 26px;
          font-weight: 600;
          line-height: 36px;
          margin-bottom: 8px;
          transition: all .25s ease-in-out;
        }
      }
      .sub_title{
        margin-top: auto;
        p{
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
          opacity: 0.9;
          transition: all .25s ease-in-out;
        }
      }
    }
  }
  &:hover{
    background: #192B5A;
    .content{
      .svg{
        svg{
          @include svgColor(#09B3E1)
        }
      }
      .info{
        .title h3,
        .sub_title p{
          color: white;
        }
      }
    }
  }
}