.service-card{
  .content{
    position: relative;
    overflow: hidden;
    .img{
      position: relative;
      width: 100%;
      height: 280px;
      overflow: hidden;
      img{
        @include imageCover;
      }
      &::after{
        content: url(@/assets/media/image/light-blue-bg.png);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .top-info{
      position: absolute;
      top: 0;
      left: 0;
      padding: 24px;
      height: 100%;
      display: flex;
      flex-direction: column;
      .title{
        position: relative;
        z-index: 1;
        max-width: 185px;
        h3{
          color: #fff;
          font-size: 26px;
          font-weight: 600;
          line-height: 36px;
        }
      }
      .more{
        margin-top: auto;
        position: relative;
        z-index: 1;
        .link{
          margin-left: -130px;
          transition: all .25s ease-in-out;
          a{
            @include flex;
            span{
              color: #fff;
              font-size: 20px;
              font-weight: 500;
              line-height: 23px;
            }
            .svg{
              height: 24px;
              width: 24px;
            }
          }
        }
      }
      &::before{
        content: url(@/assets/media/image/blue-bg.png);
        position: absolute;
        top: 0;
        transition: all .25s ease-in-out;
        left: 0;
        margin-left: -45px;
      }
    }
    &:hover{
      .top-info{
        .more{
          .link{
            margin-left: 0;
          }
        }
        &::before{
          transform: translateX(45px);
        }
      }
    }
  }
}