.section_wraper.about{
  .about-wraper{
    background: #EAEFF5;
    padding: 40px;
    aside.left{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .content{
        h2{
          font-size: 32px;
          font-weight: 600;
          line-height: 45px;
        }
      }
      .link{
        a{
          padding: 16px;
          display: inline-block;
          border: 1px solid #ABB8C8;
          border-radius: 8px;
          span{
            font-size: 20px;
            font-weight: 500;
            line-height: 23px;
            color: #15368B;  
            @include flex;
            .svg{
              height: 24px;
              width: 24px;
              object-position: center;
            }  
          }
        }
      }
    }
    aside.right{
      .content{
        p{
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
        }
      }
    }
  }
}