.section_wraper.events{
  main{
    .events-list{
      display: flex;
      flex-direction: column;
      .events-item{
        border: 1px solid rgba(11, 31, 51, 0.2);
        padding: 20px;
        margin-bottom: 20px;
        .content{
          display: flex;
          flex-direction: column;
          main{
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(11, 31, 51, 0.2);
            h3{
              font-size: 22px;
              font-weight: 600;
              line-height: 31px;
              margin-bottom: 8px;
            }
            p{
              color: rgba(11, 31, 51, 0.9);
              font-size: 20px;
              font-weight: 400;
              line-height: 32px;
            }
          }
          footer{
            background: none;
            padding-top: 16px;
            span{
              @include flex;
              opacity: 0.8;
              font-size: 18px;
              font-weight: 400;
              line-height: 27px;
              .svg{
                height: 22px;
                width: 22px;
                margin-right: 8px;
              }
            }
          }
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}