.section_wraper.links{
  main{
    .carousel{
      .swiper{
        padding-bottom: 45px;
        .swiper-pagination{
          .swiper-pagination-bullet{
            background-color: #CED2D6;
          }
          .swiper-pagination-bullet-active{
            background: #09B3E1;
            width: 32px;
          }
        }
      }
    }
  }
}