.section_wraper.news{
  main{
    .carousel{
      .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        transform: translateY(-12px);
      }
    }
    .news-list{
      display: flex;
      flex-direction: column;
      .news-item{
        padding: 40px 0;
        border-bottom: 1px solid rgba(11, 31, 51, 0.2);
        .content{
          display: flex;
          flex-direction: column;
          header{
            @include flex;
            justify-content: flex-start;
            margin-bottom: 16px;
            span{
              margin-right: 40px;
              @include flex;
              color: #0B1F33;
              font-size: 18px;
              font-weight: 400;
              line-height: 27px;
              opacity: 0.8;
              .svg{
                margin-right: 8px;
                height: 22px;
                width: 22px;
              }
              &:last-child{
                margin-right: 0;
              }
            }
          }
          main{
            h3{
              font-size: 24px;
              font-weight: 600;
              line-height: 36px;
            }
          }
        }
      }
    }
  }
}