.section_wraper.publications{
  background: #15368B;
  background-image: url(@/assets/media/image/logo-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
  header{
    h1{
      color: white;
    }
    a{
      span{
        color: white;
      }
    }
  }
  main{
    .buttons{
      @include flex;
      margin-bottom: 20px; 
      .button{
        cursor: pointer;
        background-color: #FFFFFF0D;
        border: 1px solid #FFFFFF33;
        @include flex;
        padding: 10px 12px;
        margin-right: 12px;
        span{
          color: white;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          margin-right: 8px;
        }
        div{
          padding: 2px 4px;
          background-color: #FFFFFF1A;
          color: white;
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
        }
        &:last-child{
          margin-right: 0;
        }
        &.active{
          background: #FFFFFF1A;
          border: 1px solid #FFFFFF66;
          div{
            background-color: white;
            color:  #0B1F33;
          }
        }
      }   
    }
    .carousel{
      .swiper-container{
        padding-bottom: 60px;
      }
    }
  }
}