.section_wraper.research{
  background-color: #EAEFF5;
  background-image: url(@/assets/media/image/world-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  main{
    .research-cards{
      
    }
  }
}