@import 'news', 'events', 'about', 'services', 'research', 'publications', 'links';

.section_wraper{
  padding: 40px 0;
  header{
    @include flex;
    justify-content: space-between;
    margin-bottom: 24px;
    h1{
      font-size: 40px;
      font-weight: 600;
      line-height: 56px;
    }
    a{
      @include flex;
      span{
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        color: #15368B;
      }   
      .svg{
        margin-left: 2px;
        height: 24px;
        width: 24px;
        svg{
          
        }
      }   
    }
  }
}