@import "helper", "custom", 'carcas', 'home', 'cards' ;

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/stylesheet.css') format('truetype'),
}

a{
  color: white;
  &:hover{
    color: white;
  }
}

.link_custom{
  cursor: pointer;
  &:hover{
    color: #8697ff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span{
  padding: 0;
  margin: 0;
  color: #0B1F33;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.ant-layout{
  // background-color: #040404;
  background-color: white;
}

.ant-layout-header,
.ant-layout-footer{
  background: unset;
  height: unset;
  line-height: unset;
  padding: 0;
  margin: 0;
}




*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.container{
  margin: 0 auto;
  max-width: 1820px;
  width: 100%;
}

.container-main{
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
}

// * Swiper 

.swiper-wrapper{
  display: flex;
  .swiper-slide{
    height: unset;
  }
}

.swiper{
  padding-bottom: 40px;
  .swiper-pagination{
    .swiper-pagination-bullet{
      background-color: #ffffff;
      border-radius: 4px;
      opacity: 1;
    }
    .swiper-pagination-bullet-active{
      background: #09B3E1;
      width: 32px;
    }
  }
}