<template>
  <section class="section_wraper about">
    <div class="container-main">
      <div class="about-wraper">
        <a-row :gutter="[24, 24]" type="flex">
          <a-col class="gutter-row" :span="12">
            <aside class="left">
              <div class="content">
                <h2>
                  Providing research and knowledge for sustainable development
                </h2>
              </div>
              <div class="link">
                <nuxt-link to="/">
                  <span>
                    Find out more
                    <svgicon name="more"></svgicon>
                  </span>
                </nuxt-link>
              </div>
            </aside>
          </a-col>
          <a-col class="gutter-row" :span="12">
            <aside class="right">
              <div class="content">
                <p>Welcome to the Center for Progressive Reforms!</p>
                <p>
                  At the Center for Progressive Reforms, we are committed to
                  driving positive change through rigorous research, insightful
                  analysis, and collaboration. Our aim is to contribute to the
                  advancement of various sectors, promoting sustainable
                  development, and informed decision-making. Explore our
                  research areas, engaging articles, upcoming events, and the
                  latest news to stay informed and connected with our mission
                </p>
              </div>
            </aside>
          </a-col>
        </a-row>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
