<template>
  <section class="section_wraper events">
    <header>
      <h1>Events</h1>
      <nuxt-link to="/">
        <span>More events</span>
        <svgicon name="more"></svgicon>
      </nuxt-link>
    </header>
    <main>
      <div class="events-list">
        <div class="events-item" v-for="(item, i) in 3" :key="i">
          <div class="content">
            <main>
              <h3>
                Gender-Responsive National Adaptation Plan (NAP) Processes:
                Maximizing the impact of targeted gender analyses
              </h3>
              <p>
                Reflecting on the gender analyses conducted in nine countries to
                inform their National Adaptation Plan...
              </p>
            </main>
            <footer>
              <span>
                <svgicon name="time"></svgicon>
                12 August 2023
              </span>
            </footer>
          </div>
        </div>
      </div>
    </main>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
