<template>
  <section class="section_wraper news">
    <header>
      <h1>News</h1>
      <nuxt-link to="/">
        <span>More news</span>
        <svgicon name="more"></svgicon>
      </nuxt-link>
    </header>
    <main>
      <div class="carousel">
        <client-only>
          <swiper class="swiper" :options="swiperOption">
            <swiper-slide v-for="(item, index) in 3" :key="index">
              <CardsNews></CardsNews>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </client-only>
      </div>
      <div class="news-list">
        <div class="news-item" v-for="(item, i) in 3" :key="i">
          <div class="content">
            <header>
              <span>
                <svgicon name="time"></svgicon>
                21 August 2023
              </span>
              <span>
                <svgicon name="view"></svgicon>
                154
              </span>
            </header>
            <main>
              <h3>
                Let the Sun Shine In! Policy Transparency Improves Economic
                Outcomes: The Experience of Monetary Policy with Lessons for
                Fiscal Policy
              </h3>
            </main>
          </div>
        </div>
      </div>
    </main>
  </section>
</template>

<script>
export default {
  data() {
    return {
      swiperOption: {
        loop: true,
        spaceBetween: 24,
        slidesPerView: 1,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
          // dynamicBullets: true,
        },
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        breakpoints: {
          // 0: {
          //   slidesPerView: 1,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 16,
          // },
          // 485: {
          //   slidesPerView: 2,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 16,
          // },
          // 768: {
          //   slidesPerView: 3,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 16,
          // },
          // 991: {
          //   slidesPerView: 3,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 16,
          // },
          // 1480: {
          //   slidesPerView: 4,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 20,
          // },
          // 1600: {
          //   slidesPerView: 5,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 24,
          // },
          // 1720: {
          //   slidesPerView: 6,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 32,
          // },
        },
      },
    };
  },
};
</script>

<style></style>
