<template>
  <section class="section_wraper research">
    <div class="container-main">
      <header>
        <h1>Research areas</h1>
      </header>
      <main>
        <div class="research-cards">
          <a-row :gutter="[24, 24]" type="flex">
            <a-col
              class="gutter-row"
              :span="12"
              v-for="(item, i) in 4"
              :key="i"
            >
              <CardsResearch></CardsResearch>
            </a-col>
          </a-row>
        </div>
      </main>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
