<template>
  <section class="section_wraper">
    <div class="container-main">
      <header>
        <h1>Our services</h1>
        <nuxt-link to="/">
          <span>See more</span>
          <svgicon name="more"></svgicon>
        </nuxt-link>
      </header>
      <main>
        <div class="services-cards">
          <a-row :gutter="[24, 24]" type="flex">
            <a-col class="gutter-row" :span="8" v-for="(item, i) in 6" :key="i">
              <CardsService></CardsService>
            </a-col>
          </a-row>
        </div>
      </main>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
