<template>
  <div class="link-card">
    <div class="content">
      <div class="title">
        <h4>Правительство Российской Федерации</h4>
      </div>
      <div class="footer">
        <div class="link">
          <a href="/">government.ru</a>
          <svgicon name="top-right"></svgicon>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
