<template>
  <div class="news-card">
    <div class="img">
      <img src="@/assets/media/image/news-img.jpg" alt="" />
    </div>
    <div class="content">
      <div class="title">
        <h3>
          Let the Sun Shine In! Policy Transparency Improves Economic Outcomes:
          The Experience of Monetary Policy with Lessons for Fiscal Policy
        </h3>
      </div>
      <div class="statistics">
        <div class="info">
          <svgicon name="time"></svgicon>
          <span>24 August 2023</span>
        </div>
        <div class="info">
          <svgicon name="view"></svgicon>
          <span>412</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
