<template>
  <div class="publication-card">
    <div class="content">
      <header>
        <div class="statistics">
          <div class="info">
            <svgicon name="time"></svgicon>
            <span>12 August 2023</span>
          </div>
        </div>
      </header>
      <main>
        <div class="info">
          <h3>
            Progress on the Implementation of National Multilevel Climate and
            Energy Dialogues: Assessing Member States' own reporting
          </h3>
          <p>Interview with Nils Meyer-Ohlendorf on klimafakten.de</p>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
