<template>
  <div class="research-card">
    <a class="content">
      <svgicon name="globus"></svgicon>
      <div class="info">
        <div class="title">
          <h3>Streamlining regional cooperation</h3>
        </div>
        <div class="sub_title">
          <p>
            Facilitating regional cooperation for mutual development through
            streamlined processes and partnerships.
          </p>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
