<template>
  <div class="service-card">
    <div class="content">
      <div class="img">
        <img src="@/assets/media/image/service-img.jpg" alt="" />
      </div>
      <div class="top-info">
        <div class="title">
          <h3>Publication and Communication</h3>
        </div>
        <div class="more">
          <div class="link">
            <nuxt-link to="/">
              <span>See more</span>
              <svgicon name="more"></svgicon>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
