footer{
  background: linear-gradient(180deg, white,  white 33%, #021444 33%, #021444 100%);
  .container-main{
    .footer_form{
      background: #15368B;
      padding: 40px;
      .header{
        margin-bottom: 30px;
        h3{
          font-size: 32px;
          font-weight: 400;
          line-height: 140%;
          color: white;
          margin-bottom: 8px;
        }
        p{
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          color: white;
        }
      }
      main{
        .feedback-form{
          margin-bottom: 32px;
          .ant-form{
            .ant-form-item{
              margin-bottom: 0;
              .ant-input{
                background: #FFFFFF0D;
                border: 1px solid hsla(0,0%,100%,.2);
                border-radius: initial;
                color: #c5c5c5;
                font-size: 20px;
                font-weight: 400;
                height: 70px;
                line-height: 140%;
                padding: 18px 16px;
                width: 100%;
              }
            }
          }
          .ant-form-item-label > label{
            color: white;
            font-size: 20px;
            font-weight: 500;
            line-height: 150%;
          }
        }
        .button{
          display: inline-block;
          margin-left: auto;
          background: linear-gradient(180deg, #09B3E1 0%, #079CC5 100%);
          &_click{
            padding: 15px 51px;
            @include flex;
            span{
              color: #fff;
              font-size: 20px;
              font-weight: 600;
            }
            .svg{
              height: 24px;
              width: 24px;
              flex: 0 0 24px;
              svg{
                @include svgColor(#fff)
              }
            }
          }
        }
      }
    }
    .footer_bottom{
      .row{
        padding: 24px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .wraper{
          @include flex;
          justify-content: space-between;
          .col{
            width: 100%;
            .info{
              .title{
                color: rgba(255, 255, 255, 0.6);
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                margin-bottom: 4px;
              }
              a{
                font-size: 22px;
                font-weight: 600;
                line-height: 31px;
              }
            }
            ul{
              li{
                margin-bottom: 20px;
                a{
                  font-size: 20px;
                  font-weight: 400;
                  line-height: 23px;
                  color: rgba(255, 255, 255, 0.8);
                }
                &:last-child{
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}

.row{
  .wraper{
    .logo_container{
      img{
        height: 65px;
        width: 248px;
        img{
          @include imageContain;
        }
      }
    }
    .social_medias{
      @include flex;
      span{
        color: rgba(255, 255, 255, 0.8);
        margin-right: 16px;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
      }
      ul{
        @include flex;
        li{
          margin-right: 8px;
          .svg{
            height: 48px;
            width: 48px;
            border-radius: 50%;
            background: #FFFFFF0D;
            @include flex;
            justify-content: center;
            svg{
              opacity: 0.8;
            }
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}