header{
  .header_top{
    background: #15368B;
    .container{
      .wraper{
        height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .list{
          border-right: 1px solid rgba($color: #ffffff, $alpha: 0.2);
          padding: 0 24px;
          ul{
            height: 36px;
            @include flex;
            li{
              margin-right: 32px;
              a{
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                opacity: 0.8;
              }
              &:last-child{
                margin-right: 0;
              }
            }
          }
        }
        .social_medias-list{
          border-right: 1px solid rgba($color: #ffffff, $alpha: 0.2);
          padding: 0 24px;
          ul{
            height: 36px;
            @include flex;
            li{
              margin-right: 12px;
              @include flex;
              .svg{
                height: 24px;
                width: 24px;
                svg{
                  opacity: 0.8;
                }
              }
              &:last-child{
                margin-right: 0;
              }
            }
          }
        }
        .site_lang{
          padding: 0 0 0 24px;
        }
      }
    }
  }
  .header_bottom{
    background: #09246D;
    .container{
      .wraper{
        @include flex;
        justify-content: space-between;
        padding: 18px 0;
        .logo_container{
          .img{
            height: 65px;
            width: 248px;
            img{
              @include imageContain
            }
          }
        }
        .list{
          ul{
            @include flex;
            li{
              margin-right: 56px;
                a{
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 23px;
                  .svg{
                    height: 22px;
                    width: 22px;
                  }
                }
              &:last-child{
                margin-right: 0;
              }
            }
          }
        }
        .search_block{
          border-left: 1px solid rgba($color: #ffffff, $alpha: 0.2);
          height: 76px;
          padding-left: 24px;
          @include flex;
          .search{
            .ant-input-affix-wrapper{
              .ant-input{
                color: rgba(255, 255, 255, 0.5);
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                border: none; 
                background-color: transparent;
                &::placeholder{
                  color: rgba(255, 255, 255, 0.5);
                  font-size: 18px;
                  font-weight: 400;
                  line-height: 21px;
                }
                &:focus{
                  box-shadow: none;
                }
              }
              .ant-input-suffix{
                .svg{
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }
    }
  }
}