@mixin svgColor($color) {
  path,
  circle{
    fill: $color;
  }
}

@mixin imageCover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: centre;
}

@mixin imageContain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: centre;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin free-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin splice($count) {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin text1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

@mixin devices($breakpoint) {
  @if $breakpoint==xxxl {
    @media only screen and (max-width: 1880px) {
      @content;
    }
  }
  @if $breakpoint==xxl {
    @media only screen and (max-width: 1720px) {
      @content;
    }
  }

  @if $breakpoint==xl {
    @media only screen and (max-width: 1480px) {
      @content;
    }
  }

  @if $breakpoint==lg {
    @media only screen and (max-width: 1280px) {
      @content;
    }
  }

  @if $breakpoint==md {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }

  @if $breakpoint==sm {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint==xs {
    @media only screen and (max-width: 575px) {
      @content;
    }
  }

  @if $breakpoint==xxs {
    @media only screen and (max-width: 375px) {
      @content;
    }
  }
}