.statistics{
  @include flex;
  .info{
    @include flex;
    opacity: 0.8;
    .svg{
      margin-right: 8px;
      height: 22px;
      width: 22px;
      svg{
        @include svgColor(#fff)
      }
    }
    span{
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
    }
  }
}