$primary1: #1b267c;
$primary2: #2638bc;

$gray1: #959ab2;
$gray2: #f6f7ff;
$gray3: #e9ebfc;
$gray4: #F0F0F8;

$darkGray1: #B4B9E2;

$darkBlue1: #565b7b;
$darkBlue2: #3f4468;

$white: #fff;

$black1: #0f1542;
$black2: #444650;

$red: #e50019;


$inputShadow: rgba(38, 55, 188, 0.2);
$primary2_01: rgba(38, 55, 188, 0.1);

// NO COLOR THEME
// #CACFF8