<template>
  <a-layout>
    <a-layout-header>
      <CarcasHeader></CarcasHeader>
    </a-layout-header>
    <a-layout-content>
      <nuxt />
    </a-layout-content>
    <a-layout-footer>
      <CarcasFooter></CarcasFooter>
    </a-layout-footer>
  </a-layout>
</template>

<!-- <script>
import { mapActions } from "vuex";

export default {
  async mounted() {
    await this.fetchPages();
    if (
      this.$route.path == "/" ||
      this.$route.path == `/${this.$i18n.locale}` ||
      this.$route.path == `/${this.$i18n.locale}/`
    ) {
      await this.fetchHome();
      this.loading = false;
    }
  },
  methods: {
    ...mapActions(["fetchListDefault"]),

    async fetchHome() {
      try {
        let promiseBanner = new Promise(async (resolve, reject) => {
          try {
            await this.fetchListDefault({
              api: "site/post/list",
              key: "bannerList",
              params: { post_group: "banner", has_content: false },
            });
            resolve({
              status: true,
            });
          } catch (e) {
            reject({
              status: false,
              error: e,
            });
          }
        });

        await Promise.all([promiseBanner]);
      } catch (error) {
        console.error(error);
      }
    },

    async fetchPages() {
      let promiseMenu = new Promise(async (resolve, reject) => {
        try {
          await this.fetchListDefault({
            api: "site/menu/list",
            key: "menuList",
            params: { parent_id: 0 },
          });
          resolve({
            status: true,
          });
        } catch (e) {
          reject({
            status: false,
            error: e,
          });
        }
      });
      let promiseContacts = new Promise(async (resolve, reject) => {
        try {
          await this.fetchListDefault({
            api: "site/contacts/list",
            key: "contactsList",
          });
          resolve({
            status: true,
          });
        } catch (e) {
          reject({
            status: false,
            error: e,
          });
        }
      });
      await Promise.all([promiseMenu, promiseContacts]);
    },
  },
  watch: {
    async "$route.path"(val) {
      if (
        val == "/" ||
        val == `/${this.$i18n.locale}` ||
        val == `/${this.$i18n.locale}/`
      ) {
        await this.fetchHome();
        this.loading = false;
      } else {
        return;
      }
    },
    "$i18n.locale"() {
      this.fetchPages();
    },
  },
};
</script> -->
