<template>
  <div>
    <section class="news_and_events section_wraper">
      <div class="container-main">
        <a-row :gutter="24" type="flex">
          <a-col class="gutter-row" :span="16">
            <HomeNews></HomeNews>
          </a-col>
          <a-col class="gutter-row" :span="8">
            <HomeEvents></HomeEvents>
          </a-col>
        </a-row>
      </div>
    </section>
    <HomeAbout></HomeAbout>
    <HomeServices></HomeServices>
    <HomeResearch></HomeResearch>
    <HomePublications></HomePublications>
    <HomeLinks></HomeLinks>
  </div>
</template>

<script>
export default {
  name: "MyChat",
  data() {
    return {};
  },
};
</script>
