.pagination {
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 32px;

  @include devices(lg) {
      margin-top: 24px;
  }
  @include devices(md) {
      margin-top: 16px;
  }
  

  &-limit {
      margin-right: 12px;
  }

  &-controls {
      margin: 0 auto;
      display: flex;
      align-items: center;

      .pagination-item {
          width: 50px;
          height: 50px;
          border-radius: 8px;
          font-size: 19px;
          font-weight: 500;
          line-height: 26px;
          color: $black1;
          margin: 0 4px;
          background: $gray4;
          border: none;
          cursor: pointer;
          transition: .3s;

          svg {
              fill: #fff;
              transform: scale(1.1);
          }

          &:first-child{
              .svg{
                  transform: rotate(180deg);
              }
          }
          &:first-child,
          &:last-child {
              background: $primary2;
              border: none;
              color: #fff;
              font-size: 21px;
              line-height: 24px;
          }

          &[disabled="disabled"] {
              cursor: auto;
              background: $gray4;
              color: $black1;

              svg path{
                  fill: $black1;
              }
          }

          &.active {
              color: #fff;
              background: $primary2;
          }

          @include devices(sm){
              width: 36px;
              height: 36px;
              border-radius: 4px;
              font-size: 16px;
              margin: 0 2px;
          }
      }
  }

  &-info {
      margin-left: 12px;
  }
}