<template>
  <footer>
    <div class="container-main">
      <div class="footer_form">
        <div class="header">
          <h3>Feedback form</h3>
          <p>
            We value your feedback! Your thoughts help us improve and provide
            you with a better experience. Please take a moment to share your
            insights. Thank you for being a part of our community!
          </p>
        </div>
        <main>
          <div class="feedback-form">
            <a-form-model ref="form" :model="form" :rules="rules">
              <a-row type="flex" :gutter="[24, 24]">
                <a-col span="12">
                  <a-form-model-item prop="name">
                    <a-input v-model="form.name" placeholder="Name" />
                  </a-form-model-item>
                </a-col>
                <a-col span="12">
                  <a-form-model-item prop="email">
                    <a-input v-model="form.email" placeholder="Email" />
                  </a-form-model-item>
                </a-col>
                <a-col span="24">
                  <a-form-model-item prop="message">
                    <a-textarea
                      :auto-size="{ minRows: 5, maxRows: 5 }"
                      v-model="form.message"
                      placeholder="Message"
                    />
                  </a-form-model-item>
                </a-col>
              </a-row>
            </a-form-model>
          </div>
          <div class="button">
            <div class="button_click link_custom" @click="handleOk">
              <span>Send</span>
              <svgicon name="more"></svgicon>
            </div>
          </div>
        </main>
      </div>
      <div class="footer_bottom">
        <div class="row">
          <div class="wraper">
            <div class="col" v-for="(item, i) in 3" :key="i">
              <div class="info">
                <div class="title">Reception phone:</div>
                <a href="/">+998 90 474 74-74</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="wraper">
            <div class="col" v-for="(item, i) in 3" :key="i">
              <ul>
                <li v-for="(item, i) in 3" :key="i">
                  <nuxt-link to="/">About</nuxt-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="wraper">
            <div class="logo_container">
              <div class="img">
                <img src="@/assets/media/image/logo.png" alt="logo" />
              </div>
            </div>
            <div class="social_medias">
              <span>Our social media:</span>
              <ul>
                <li v-for="(item, i) in 6" :key="i">
                  <a href="/">
                    <svgicon name="facebook"></svgicon>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        message: "",
      },
      rules: {
        name: [
          {
            required: true,
            message: "Требуется заполнение!",
            trigger: "change",
          },
        ],
        email: [
          {
            required: true,
            message: "Требуется заполнение!",
            trigger: "change",
          },
        ],
        message: [
          {
            required: true,
            message: "Требуется заполнение!",
            trigger: "change",
          },
        ],
      },
    };
  },
};
</script>

<style></style>
