<template>
  <header>
    <div class="header_top">
      <div class="container">
        <div class="wraper">
          <div class="list">
            <ul>
              <li v-for="(item, i) in 4" :key="i">
                <nuxt-link to="/">Career</nuxt-link>
              </li>
            </ul>
          </div>
          <div class="social_medias-list">
            <ul>
              <li v-for="(item, i) in 6" :key="i">
                <a href="/">
                  <svgicon name="facebook"></svgicon>
                </a>
              </li>
            </ul>
          </div>
          <div class="site_lang">
            <div class="site_lang-button">
              <a-select
                default-value="lucy"
                style="width: 120px"
                @change="langHandleChange"
              >
                <a-select-option value="jack"> Eng </a-select-option>
                <a-select-option value="lucy"> Uzb </a-select-option>
              </a-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_bottom">
      <div class="container">
        <div class="wraper">
          <div class="logo_container">
            <div class="img">
              <img src="@/assets/media/image/logo.png" alt="" />
            </div>
          </div>
          <div class="list">
            <ul>
              <li>
                <nuxt-link to="/">
                  <svgicon name="home"></svgicon>
                  Home
                </nuxt-link>
              </li>
              <li v-for="(item, i) in 5" :key="i">
                <nuxt-link to="/">About</nuxt-link>
              </li>
            </ul>
          </div>
          <div class="search_block">
            <div class="search">
              <a-input
                placeholder="Search by site"
                style="width: 100%"
                @search="onSearch"
              >
                <svgicon slot="suffix" name="search"></svgicon>
              </a-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import svgicon from "../svgicon.vue";
export default {
  components: { svgicon },
  methods: {
    langHandleChange() {},
    onSearch(value) {
      console.log(value);
    },
  },
};
</script>

<style></style>
